/**PÁGINA INDIVIDUAL**/

/*header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 30px;
    gap: 880px;
    position: absolute;
    z-index: 1;
    width: 1440px;
    height: 109px;
    left: calc(50% - 1440px/2);
    top: 0px;
    box-shadow: 0px 4px 4px #c89fd8;
    background: #E1CEE2;
}


/*box título 1*/

.boxtitle1 {
    width: 105px;
    height: 53px;
    flex: none;
    order: 0;
    flex-grow: 0;
}


 /*título 1*/

.title1 {
    position: absolute;
    left: 6%;
    right: 0%;
    top: 5%;
    bottom: 0%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.5;
    color: #852A91;
    width: 105px;
    height: 53px;
    flex: none;
    order: 0;
    flex-grow: 0;
 }


/*nav header*/

.navHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 225px;
    height: 49px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.link1 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    width: 75px;
    height: 49px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.link2 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;  
    width: 75px;
    height: 49px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.link3 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    width: 75px;
    height: 49px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}

nav a:visited {
    color: #852A91; 
}


/*--------------------------------------------*/

/* seção sobre mim*/

.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 125px;
    position: absolute;
    width: 1440px;
    height: 318px;
    left: 0px;
    top: 109px;
    background: #FAF9F6;
}


/*foto sobre mim*/

.picAboutMe {
    width: 247px;
    height: 247px;
    background: url(cancerenergy1.jpg);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    border: 1px solid #C6AADB;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/*box grupo com título e parágrafo*/

.group1 {
    width: 614px;
    height: 186px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*box título 2*/

.boxtitle2 {
    position: absolute;
    width: 95.51px;
    height: 36.28px;
    left: 599px;
    top: 66px;
}


/*texto título 2*/

.title2 {
    position: absolute;
    left: 0%;
    right: -2.61%;
    top: 0%;
    bottom: 9.05%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1;
    color: #5B185E;
}


/*box texto seção sobre mim*/

.boxTextaboutme{
    position: absolute;
    width: 614px;
    height: 134.14px;
    left: 599px;
    top: 117.86px;
}


/*texto seção sobre mim*/

p .aboutME{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 10.54%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 150%;
    color: #000000;  
}

.p1 {
    margin: 3% 0 3% 0;

}

.p3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #852A91;
    margin-top: 3%;
}

/*----------------------------------------*/

/*listas*/

.lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 26px;
    position: absolute;
    width: 1440px;
    height: 289px;
    left: 0px;
    top: 427px;
    margin-top: 5%;
}

/*-------*/

/*hobbies*/

.Hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    gap: 26px;
    width: 595px;
    height: 249px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/*box título hobbies*/

.boxTitleHobbies {
    width: 98px;
    height: 33px;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/* texto título hobbies*/

.titleHobbies {
    position: absolute;
    left: 36%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
    color: #5B185E;
}

/*box lista hobbies*/

.listHobbies {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    width: 555px;
    height: 150px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    flex: none;
    order: 1;
    flex-grow: 0;
}


/*box dos itens lista hobbies*/

.cardH1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 102px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardH2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 103px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardH3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 103px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.cardH4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 103px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.cardH5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 104px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

/*espaço entre as listas*/

.frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 5px;
    gap: 10px;
    width: 126px;
    height: 134px;
}

/*texto dos itens lista hobbies*/

.textCardH5 {
    position: absolute;
    top: 10%;
    width: 66px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textCardH4 {
    position: absolute;
    top: 50%;
    width: 66px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textCardH3 {
    position: absolute;
    top: 10%;
    width: 65px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textCardH2 {
    position: absolute;
    top: 40%;
    width: 66px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6;  
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textCardH1 {
    
    width: 61px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6;
    flex: none;
    order: 1;
    flex-grow: 0;
}


/*-------------*/

/*TV Shows*/

.TVShows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 26px;
    width: 596px;
    height: 249px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


/*box do título de tv shows*/

.boxTitleShows {
    width: 98px;
    height: 33px;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/*texto do título tv shows*/

.titleTVShows {
    position: absolute;
    left: 45%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
    color: #5B185E;
}

/*box lista tv shows*/

.listTVShows {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    width: 556px;
    height: 150px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*box itens lista TV Shows*/

.cardTV1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 104px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardTV2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 103px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardTV3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 102px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;  
    flex: none;
    order: 2;
    flex-grow: 0;
}

.cardTV4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 103px;
    height: 150px;
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.cardTV5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;
    width: 104px;
    height: 150px; 
    background: #9D4DA2;
    border-radius: 5px;
    flex: none;
    order: 4;
    flex-grow: 0;
}


/*texto itens da lista tv shows*/

.textCardTV1 {
    color: #FAF9F6;
    flex: none;
    order: 1;
    flex-grow: 0; 
}


.textCardTV2 { 
    color: #FAF9F6; 
    flex: none;
    order: 1;
    flex-grow: 0;
}

.textCardTV3 {
    color: #FAF9F6;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.textCardTV4 {
    color: #FAF9F6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textCardTV5 {
    color: #FAF9F6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/*-------------------------------*/

/*footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 897px;
    position: absolute;;
    height: 70px;
    left: 0px;
    right: 0px;
    bottom: -50%;
    background: #6F147B;
    
}

/*rede social*/

.redesocial {
    width: 188px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
    }

/*instagram*/

.instagram {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 96.5px;
    top: 19px;
    background:"instagram.png";
}

/*gitlab*/

.gitlab {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 150px;
    top: 19px;
    background:"gitlab.png";
}

/*contato*/

.contato{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 162px;
    height: 38px;
    background: #B591D1;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;       
}

.contato:visited {
    color: aliceblue;
}


/*------------------------------------------*/

/* hover nas imagens da lista de séries, mostrando o nome das séries (elementos texto) da lista*/

.img1:hover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color: #FAF9F6 
    
}

.img2:hover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6
}

.img3:hover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6
}

.img4:hover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6
}

.img5:hover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:  #FAF9F6 
}



